.button {
  display: block;
  min-width: 280px;
  padding: 7px 44px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  border: none;
  cursor: pointer;
  background-color: @green;
  font-family: @font-default;
  .font(16px, 20px, @white);
}
