.examples,
.examples .container {
  background-color: #eaeaea;
}

.examples__list {
  .list-reset;
  display: flex;
}

.examples__text {
  .arial;
}

.examples__number {
  .font(24px, 24px, @black);
}

.examples__description {
  .arial(12px, 12px);
}

.examples__review {
  .font(14px, 20px, @black);
  text-align: center;
  text-transform: uppercase;
}

.cat-slider__list {
  .list-reset;
}
