.extra__list {
  .list-reset;
}

.extra__item-title {
  line-height: 16px;
}

.extra__title-link {
  .link-reset;
  color: inherit;
}

.extra__item-description {
  .arial(14px, 14px);
}

.extra__offer {
  background: @green url("../../img/extra-background.jpg") no-repeat top center;
}

.extra__offer-text {
  .arial(16px, 20px);
  color: @white;
}
