.form__fieldset {
  .font(24px, 26px, @black);
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }

  &:last-of-type {
    margin-bottom: 33px;

    @media (min-width: @tablet-width) {
      margin-bottom: 41px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 48px;
    }
  }
}

.form__container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.form__cat-list {
  .list-reset;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form__cat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    gap: 17px;
  }
}

.form__label {
  .font(16px, 18px, @gray);
  text-transform: uppercase;
  flex-shrink: 0;
  max-width: 50%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input {
  .font(16px, 18px, @gray);
  font-family: @font-default;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  height: 45px;
  flex-grow: 1;
  padding: 0 15px 0;
  width: 100%;

  &--icon {
    padding-right: 45px;

    @media (min-width: @tablet-width) {
      padding-right: 55px;
    }

    svg {
      stroke: #222222;
      fill: #222222;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
    padding-left: 17px;
  }

  @media (min-width: @desktop-width) {
    &:hover:not(.form__input--error) {
      border-color: #cdcdcd;
    }
  }

  &:focus-visible {
    .outline(2px, #444444, -2px);
  }

  &:focus-visible + .form__icon {
    stroke: @green;
    fill: @green;
  }

  &:not(:placeholder-shown):not(.form__input--error) {
    border: 2px solid #444444;
  }

  &--error {
    border: 2px solid #ff8282;
  }

  &--error + .form__icon {
    stroke: #ff8282;
    fill: #ff8282;
  }
}

.form__input::placeholder {
  .font(16px, 18px, @gray);
  font-family: @font-default;
  text-transform: uppercase;
  opacity: 1;
  background-color: @white;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.form__input[type="number"] {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: textfield;
}

.form__list-radio {
  .list-reset;
  padding-top: 20px;
  margin-bottom: 19px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 24px 28px;
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }

  &::before,
  &::after {
    content: "";
    width: 100vw;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: #d9d9d9;
    z-index: -1;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &::before {
    top: -3px;
  }

  &::after {
    bottom: -19px;
  }
}

.form__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__title {
  position: relative;
  padding: 0;
  width: 100%;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 76px;
  }

  span {
    position: relative;
    display: inline-block;

    &::before {
      content: "";
      width: calc(100% + 44px);
      height: 100%;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      position: absolute;
      background-color: @white;
      z-index: -1;

      @media (min-width: @tablet-width) {
        width: calc(100% + 80px);
      }
    }
  }

  &::after {
    content: "";
    width: 100vw;
    height: 2px;
    left: 50%;
    top: 0.65em;
    transform: translateX(-50%);
    position: absolute;
    background-color: #68b738;
    z-index: -2;
  }
}

.form__human-list {
  .list-reset;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.form__human-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
  position: relative;

  @media (min-width: @tablet-width) {
    gap: 19px;
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: @desktop-width) {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form__icon {
  position: absolute;
  z-index: 2;

  &--email {
    right: 16px;
    top: 16px;

    @media (min-width: @tablet-width) {
      right: 14px;
      top: 19px;
    }

    @media (min-width: @desktop-width) {
      right: 18px;
    }
  }

  &--phone {
    right: 13px;
    top: 13px;

    @media (min-width: @tablet-width) {
      top: 15px;
    }

    @media (min-width: @desktop-width) {
      right: 17px;
      top: 15px;
    }
  }
}

.form__textarea {
  .font(16px, 18px, @gray);
  font-family: @font-default;
  width: 100%;
  border: 1px solid #e7e7e7;
  height: 150px;
  text-transform: uppercase;
  text-align: left;
  resize: none;
  margin-top: 2px;
  margin-bottom: -4px;
  padding: 8px 12px 8px 14px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 18px;
    height: 175px;
    margin-top: 0;
    margin-bottom: -3px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -7px;
  }

  &::placeholder {
    .font(16px, 18px, @gray);
    font-family: @font-default;
    text-transform: uppercase;
    opacity: 1;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: @desktop-width) {
    &:hover {
      border-color: #cdcdcd;
    }
  }

  &:focus-visible {
    .outline(2px, #444444, -2px);
  }

  &:not(:placeholder-shown) {
    border: 2px solid #444444;
  }
}

.form__list-checkbox {
  .list-reset;
  margin-top: -2px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px 60px;
    margin-top: -19px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.form__accept {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    gap: 80px;
  }
}

.form__button {
  padding: 10px 0;
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    .column-width(60px, 1, 2);
    font-size: 20px;
    padding: 16px 0;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    .column-width(80px, 2, 4);
  }
}

.form__text {
  .arial(14px, 16px);
  color: @black;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    .column-width(60px, 1, 2);
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    .column-width(80px, 1, 4);
  }
}
