.form__fieldset {
  .oswald(24px, 26px, @black);
  border: none;
}

.form__cat-list {
  .list-reset;
}

.form__list {
  .list-reset;
}

.form__human-list {
  .list-reset;
}

.form__label {
  .oswald(16px, 18px, @gray);
}

.form__input::-webkit-input-placeholder {
  .oswald(16px, 18px, @gray);
  font-family: @font-default;
  text-transform: uppercase;
}

.form__textarea {
  .oswald(16px, 18px, @gray);
  font-family: @font-default;
}

.form__text {
  .arial(14px, 16px);
  color: @black;
}
