.nav-list {
  display: none;
  .list-reset;
  .font(20px, 20px, @black);
  font-weight: @font-weight-bold;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    .font(18px, 24px, @black);
    font-weight: @font-weight-default;
  }

  @media (min-width: @desktop-width) {
    .font(20px, 30px, @white);

    &--non-index {
      color: @black;
    }
  }
}

.nav-list__item {
  @media (min-width: @tablet-width) {
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-list__link {
  color: inherit;
  .link-reset;

  &--current {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: @green;
    text-decoration-thickness: 2px;

    @media (min-width: @desktop-width) {
      text-decoration-color: @white;
    }
  }

  &--non-index {
    @media (min-width: @desktop-width) {
      text-decoration-color: @green;
    }
  }
}
