.nav-list {
  display: none;
  .list-reset;
  .font(20px, 20px, @black);
  font-weight: @font-weight-bold;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    .font(18px, 24px, @black);
    font-weight: @font-weight-default;
  }
}

.nav-list__item {
  @media (min-width: @tablet-width) {
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }

    &--current a {
      text-decoration: underline;
      text-underline-offset: 10px;
      text-decoration-color: @green;
      text-decoration-thickness: 2px;
    }
  }
}

.nav-list__link {
  color: @black;
  .link-reset;
}
