.page-header {
  position: relative;

  @media (min-width: @desktop-width) {
    background-image: url("../img/header-background-desktop.jpg"), linear-gradient(to right, @white 50%, #64a73c 50%);
    background-position: right 50%;
    background-repeat: no-repeat;

    &--non-index {
      background: none;
    }
  }
}
