.page-footer {
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    padding: 58px 0 55px;
  }
}

.page-footer__container {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-footer__logo {
  text-align: center;
  padding: 39px 0 28px;

  @media (min-width: @tablet-width) {
    width: 33.34%;
    padding: 0;
    text-align: left;
  }
}

.page-footer__logo-link {
  display: inline-block;

  &[href]:active {
    opacity: 0.6;
    outline: none;
  }

  @media (min-width: @desktop-width) {
    &[href]:hover {
      opacity: 0.8;
    }

    &[href]:active {
      opacity: 0.6;
      outline: none;
    }

    &[href]:focus-visible {
      border-radius: 1px;
      .outline(3px, @green, 10px);
    }
  }
}

.page-footer__social {
  padding: 21px 0 18px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    width: 33.34%;
    border: none;
    padding: 0;
  }
}

.page-footer__copyright {
  padding: 22px 0;
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-end;
    width: 33.34%;
    border: none;
    padding: 0;
  }
}
