.program {
  padding: 27px 0 32px;
  text-align: left;
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    padding: 32px 0 72px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding: 47px 0 82px;
  }
}

.program__container {
  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 30px;
  }
}

.program__title {
  margin-bottom: 36px;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }
}

.program__text {
  .font(14px, 18px, @black);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}
