.promo {
  background: #ffffff url("../../img/promo-background.jpg") no-repeat top center;
}

.promo__text {
  color: #ffffff;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
