.social__list {
  .list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social__item {
  width: 55px;
  text-align: center;
}

.social__link {
  display: inline-block;

  & svg {
    fill: #666666;
    stroke: #666666;
  }

  &[href]:active {
    opacity: 0.3;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    &--vkontakte svg {
      width: 30px;
      height: 23px;
    }

    &--instagram svg {
      width: 30px;
      height: 23px;
      margin-top: 2px;
      margin-left: -4px;

      @media (min-width: @desktop-width) {
        margin: 0;
      }
    }

    &--facebook svg {
      width: 37px;
      height: 28px;
      margin-top: -2px;
    }

    &[href]:hover svg {
      fill: @green;
      stroke: @green;
    }

    &[href]:active {
      opacity: 0.3;
      outline: none;
    }

    &[href]:focus-visible {
      border-radius: 1px;
      .outline(3px, @green, 8px);
    }

    &[href]:focus-visible svg {
      fill: @green;
      stroke: @green;
    }
  }
}
