.link-reset {
  text-decoration: none;
  text-transform: uppercase;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.font(@font-size, @line-height, @font-color: @font-color-default) {
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
}


.arial(@font-size: 14px, @line-height: 18px) {
  font-family: @font-second;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color-arial;
}
