@black: #000000;
@green: #68b738;
@white: #ffffff;
@gray: #444444;

@font-default: "Oswald", "Arial", sans-serif;
@font-second: "Arial", sans-serif;
@font-weight-default: 400;
@font-weight-bold: 500;
@font-size-default: 14px;
@line-height-default: 18px;
@font-color-default: @gray;
@font-color-arial: @gray;

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1280px;
